# data anlysis of sales data for 12 months

In [ ]:
#imorting importaant libraries
import pandas as pd
import os
import matplotlib.pyplot as plt

# ##merging 12 months of sales data into single file

In [ ]:
df = pd.read_csv("./Sales_Data/Sales_April_2019.csv")

#creating an empty dataframe

all_months_data = pd.DataFrame()

files = [file for file in os.listdir('./Sales_Data')]
for file in files:
    df = pd.read_csv('./Sales_Data/'+file)
    all_months_data = pd.concat([all_months_data,df])
all_months_data.head()

In [ ]:
#example for list comprehension
#ls = [i for i in range(100)]
#ls

In [ ]:
#converting all_months_data dataframe into a csv file
all_months_data.to_csv('all_data.csv',index = False)

# Read in updated dataframe

In [ ]:
all_data = pd.read_csv('all_data.csv')
all_data.head()

# Data cleaning removing NaN

In [ ]:
#extracting the Rows which contains NaN

nan_df = all_data[all_data.isna().any(axis = 1)]
nan_df.head()

# Drop NaN

In [ ]:
all_data = all_data.dropna(how='all')
all_data.head()

# find 'or' delete it

In [ ]:
temp_data = all_data[all_data['Order Date'].str[0:2] == 'Or']
temp_data.head()

# Making a dataframe free from Or type of Rows

In [ ]:
all_data = all_data[all_data['Order Date'].str[0:2] != 'Or']
all_data.head()

# augment data with additional columns

In [ ]:
## task2: ADDING A MONTH COLUMN

all_data['Months'] = all_data['Order Date'].str[0:2]

#converting string months column in integer

all_data['Months'] = all_data['Months'].astype('int32')

all_data.head()

# Q-1: What was the best months for sales and how much was earned at that month

In [ ]:
# Adding a sales column

#all_data['Sales'] = all_data[all_data['Quantity Ordered'] * all_data['Price Each']]

type(all_data['Price Each'][0])

In [ ]:
#converting a Price Each Column and Quantity Ordered in integr type

all_data['Price Each'] = pd.to_numeric(all_data['Price Each'])
all_data['Quantity Ordered'] = pd.to_numeric(all_data['Quantity Ordered'])
type(all_data['Price Each'][0])

In [ ]:
all_data['Sales'] = all_data['Quantity Ordered'] * all_data['Price Each']
all_data.head()

In [ ]:
type(all_data['Sales'][0])

In [ ]:
#all_data['Months'] = all_data[all_data['Months'].to_date()]

In [ ]:
all_data.head(5)

# Ans for question 1

In [ ]:
type(all_data['Months'][0])

In [35]:
# g = all_data.groupby('Months')
# print(g.sum())
result = all_data.groupby('Months').sum()
result

        Quantity Ordered    Price Each         Sales    Hour  Minute
Months
1                  10903  1.811768e+06  1.822257e+06  139485  282440
2                  13449  2.188885e+06  2.202022e+06  172669  354885
3                  17005  2.791208e+06  2.807100e+06  218969  447559
4                  20558  3.367671e+06  3.390670e+06  262259  544186
5                  18667  3.135125e+06  3.152607e+06  238780  487899
6                  15253  2.562026e+06  2.577802e+06  195528  402436
7                  16072  2.632540e+06  2.647776e+06  206169  417349
8                  13448  2.230345e+06  2.244468e+06  172289  353857
9                  13109  2.084992e+06  2.097560e+06  168513  341698
10                 22703  3.715555e+06  3.736727e+06  290650  598437
11                 19798  3.180601e+06  3.199603e+06  254865  518231
12                 28114  4.588415e+06  4.613443e+06  359978  733082

In [ ]:
months = range(1,13)
plt.bar(months,result['Sales'])
plt.xticks(months)
plt.ylabel('Sales In USD ($)')
plt.xlabel('Months Number')
plt.show()

# Q-2:-WHAT  CITY HAD THE HIGHEST NUMBER OF SALES

In [ ]:
#First we have to add a column with name city
#for that we have to extract city from Purchase Address Column
#.apply is used to apply function on columns

In [ ]:
# import re
# x = "bye pass road,kheragarh"
#  for i in x:
#      if i == ',':
# re.split(',',x)

In [ ]:
def get_city(address):
    return address.split(',')[1]
#if two cities have same name then in that case we have to split state also

def get_state(address):
    return address.split(',')[2].split(' ')[1]

all_data['City'] = all_data['Purchase Address'].apply(lambda x: get_city(x) + ' ' + get_state(x))
all_data.head(5)

In [ ]:
results = all_data.groupby('City').sum()
results

In [ ]:
# results =  all_data.groupby('City')['City']
# cities = [city for city in results]

cities = [city for city ,df in all_data.groupby('City')]
cities
plt.bar(cities,results['Sales'])
plt.title("Sales In Cities")
plt.xlabel('cities')
plt.ylabel('sales in USD ($)')
plt.xticks(cities, rotation = 'vertical', size = 8)
plt.figure(figsize = (8,10),dpi = 500)
plt.show()

# What time should we display advertisements to maximize likelihood of customer's buying product

In [ ]:
##convert the order Date column in date time format

In [ ]:
all_data['Order Date'] = pd.to_datetime(all_data['Order Date'])

In [ ]:
all_data.head()

In [ ]:
#make a colum hour, minute from order date

In [ ]:
all_data['Hour'] = all_data['Order Date'].dt.hour
all_data['Minute'] = all_data['Order Date'].dt.minute

In [ ]:
all_data.head()

In [ ]:
hour = [hour for hour,df in all_data.groupby('Hour')]
x = all_data.groupby('Hour').count()
x

In [ ]:

plt.plot(hour ,all_data.groupby('Hour').count(), 'r.--')
plt.xticks(hour)
plt.grid()
plt.show()

# which Product sell is high

In [ ]:
product_list = [product for product,df in all_data.groupby('Product')]
#product_list
product_sale = [prod for prod,df in all_data.groupby('Product'.count()]

In [ ]:
df = all_data.groupby('Product').sum()
df['Quantity Ordered']

In [ ]:
df1 = [prod for prod,df in all_data.groupby('Product')]
df1

In [ ]:
plt.bar(df1 ,df['Quantity Ordered'])
plt.xlabel('Product')
plt.ylabel('Total Quantity Ordered of a Product')
plt.title('product v/s their sale')
plt.xticks(df1,rotation = 'vertical', size = 8)
plt.show()

In [ ]:
prices = all_data.groupby('Product').mean()['Price Each']
prices

# WHAT PRODUCTS ARE MOST OFTEN SOLD TOGETHER

In [ ]:
# we have to find the duplicate order ids
df = all_data[all_data['Order ID'].duplicated(keep=False)]
#grouping of duplicates
df['Grouped'] = df.groupby('Order ID')['Product'].transform(lambda x: ','.join(x))
df = df[['Order ID','Grouped']].drop_duplicates()
df.head(20)

In [ ]:
from itertools import combinations
from collections import Counter

count = Counter()
for row in df['Grouped']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 2)))
#print(count)
#count.most_common(10)
for key, value in count.most_common(10):
    print(key, value)